


* {

    text-align: center;
    background: #13293d;
    color: #fff;
    border-bottom:30px #879274;
}

h1 {
    margin-top: 5%;
    margin-bottom: 5%;
}
    


.header-font {
    color: yellow;
    font-size: 2.5em;
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
}

.answer {
    font-size: 18px;
    background-color: rgba(118, 33, 187, 0.954);
    cursor: pointer;
    border-radius: 8px;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255px;
    padding: 10px 25px;
    text-align: center;
    transition-timing-function: linear;
    margin-top: 0.6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.italicText {
    font-style: italic;
}

footer a {
    color: blue;
    font-size: 1.6em;
}